@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');;

* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', Arial, sans-serif;
}

/* placed body here */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

/* logo */

#logo {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 180%;
}

/* image and cover text */

header {
    background-image: url('../images/bristol.jpg');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#cover-text {
    color: #fff;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 0%;
    margin-right: 20px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.65s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

#cover-text {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;

    width: 360px;
    height: 10px;

    padding-bottom: 220px;
    padding-left: 10px;


    background-color: rgba(225, 225, 225, 0.7);

    bottom: 80px;
    left: 60px;

    position: absolute;
}

/* about Bristol */

h3, span {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family:'Open Sans', Arial, sans-serif;
}

p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

h2 {
    text-align: center;
    font-style: oblique;

}

/* image slider */

#slider {
    padding-top: 20px;
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 250%;
    margin: 0;
    padding-left: 25%;
    animation: 20s slider infinite;
    justify-content: center;


}

#slider figure img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -50%;
    }
    45% {
        left: -50%;
    }
    50% {
        left: -100%;
    }
    70% {
        left: -100%;
    }
    75% {
        left: -175%;
    }
    95% {
        left: -175%;
    }
    100% {
        left: -200%;
    }
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}
    

/* heading - top 5 places to visit */


/* 1. SS Great Britain */

.section { 
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    box-sizing: border-box;
}

.section img { 
      height: 250px;
      width: 45%;
       
}

.section h3 {
    margin: 0;
    color: greenyellow;
    padding-top: 5px;
}

.section p {
    color: #c0bdbd;
    margin-right: 10px;
}


/* 2. Clifton Suspension Bridge */

.section { 
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    box-sizing: border-box;
}

.section img { 
      height: 250px;
      width: 45%;
       
}

.section h3 {
    margin: 0;
    color: greenyellow;
}

.section p {
    color: #c0bdbd;
    margin-right: 15px;
}




/* 3. Bristol Harbour */

.section { 
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    box-sizing: border-box;
}

.section img { 
      height: 250px;
      width: 40%;
       
}

.section h3 {
    margin: 0;
    color: greenyellow;
}

.section p {
    color: #c0bdbd;
    margin-right: 15px;
}

/* 4. M.Shed */

.section { 
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    box-sizing: border-box;
}

.section img { 
      height: 250px;
      width: 40%;
       
}

.section h3 {
    margin: 0;
    color: greenyellow;
}

.section p {
    color: #c0bdbd;
    margin-right: 15px;
}

/* 5. Armoifini Arts */

.section { 
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    box-sizing: border-box;
}

.section img { 
      height: 250px;
      width: 40%;
       
}

.section h3 {
    margin: 0;
    color: greenyellow;
}

.section p {
    color: #c0bdbd;
    margin-right: 15px;
}