@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mouse+Memoirs&family=Oswald:wght@300&family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
} 

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

/* headings and logo */

#logo {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 240%;
}

header {
    background-image: url('../images/bristol.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: auto;
    margin-right: 20px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.65s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

