@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mouse+Memoirs&family=Oswald:wght@300&family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
} 

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

/* logo */

#logo {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 180%;
}

/* image and cover text */

header {
    background-image: url('../images/bristol.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#cover-text {
    color: #fff;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: auto;
    margin-right: 20px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.65s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

#cover-text {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;

    width: 360px;
    height: 5px;

    padding-bottom: 200px;
    padding-left: 10px;


    background-color: rgba(225, 225, 225, 0.4);

    bottom: 30px;
    left: 60px;

    position: absolute;
}